.btn {
  padding: 5px 20px;
  border-radius: $btn-radius;

  /* Btn Laranja */
  &.btn-laranja {
    background: $color-terciaria;
    color: $color-branco;
  }

  /* End Btn Laranja */

}